my_own_repo/__pycache__
*.log
server.db
build
dist
myownmessenger.egg-info
myownmessenger_test.egg-info
client_view_.py
client_start_.py
misc.xml
modules.xml
MyOwnMess.iml
workspace.xml
server.log.2018-01-17
